<div class="nav-bar">
    <div class="menu-right">
        <h1 id="head"><a class="nava" href="/">hireme.com</a></h1>
        <span id="pain" onclick="toggle()">&#9776;</span>
        <ul id="menu">
            <li><a class="nava" href="/lightbulb">Light Bulb</a></li>
            <li><a class="nava" href="/windows">Windows 11</a></li>
            <li><a class="nava" href="/nodejsexpressjs">Weatherly</a></li>
            <li><a class="nava" href="/contact">Contact</a></li>
        </ul>
    </div>
</div>